{% extends "home/home_base.html" %}

{% block post %}
{% if user.is_authenticated %}
	<li id="menu-item-13" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-13"><a href="{% url 'profile' %}">Profile</a></li>
	{% endif %}
{% endblock post %}

{% block content %}
<div class="container-fluid s-placeholder type-main">
	<div class="placeholder-hider"></div>
	<div class="section-bg img-wrap">
		<img src=# alt="#">
	</div>
	<div class="container">
		<div class="row-first">
			<div class="col">
				<h1 class="section-title t1">ADD .... <br /> Add....
</h1>

				<ul class="section-tags f-c">

									<li><a href="/services/development/">Software Development</a></li>


									<li><a href="/services/logo-branding/">Microcontroller</a></li>


									<li><a href="/services/motion-design/">3D Design</a></li>


									<li><a href="/services/outstaffing/">IoT solution</a></li>


									<li><a href="/services/product-design/">Product Design</a></li>


				</ul>
				<div class="row-second f-c">
					<ul class="section-buttons">
						<li>
							<button class="btn-scroll">
								<i class="icon-arrow-down"></i>
								<span>Scroll to <span class="transp">latest news</span></span>
							</button>
						</li>
					</ul>
					<ul class="soc">
						<li><a href=# target="_blank"><i class="icon-behance"></i></a></li>
						<li><a href=# target="_blank"><i class="icon-dribbble"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>




		<div data-midnight="static" class="container-fluid s-case first-case-window custom-color-text-black c1 mirror case-2849 scrollie-provider scrollie-consumer primary-block" style="background-color:
		#060606">
	<div class="container">
		<div class="row-first f-c">
			<div class="col">
				<div class="case-text-container">
					<div class="section-tags wow fadeInUp">
						<ul>
														<li>
								<a href="/services/development/">Software Development</a>
							</li>
														<li>
								<!--<a href="/services/product-design/">Product Design</a>-->
							</li>
													</ul>
					</div>
					<a href=# class="title-descr-wrap wow fadeInUp">
						<div class="section-title t3"><span class="inner-section-title">Design of Django based web applications</span></div>
						<div class="section-descr">Design concept for dynamic websites</div>
					</a>

				</div>
			</div>
		</div>
	</div>
	<div class="section-bg f-c" >
		<a href=# id="end_js_1530">

			<img class="custom-wow animation-fill-forwards" style="float: right;" src="#" alt="#" data-s-case-orientation="mirror">

		</a>
	</div>
</div>


		<div data-midnight="static" class="container-fluid s-case  custom-color-text-black c1 mirror case-2857 scrollie-provider scrollie-consumer primary-block" style="background-color:
		#0470db">
	<div class="container">
		<div class="row-first f-c">
			<div class="col">
				<div class="case-text-container">
					<div class="section-tags wow fadeInUp">
						<ul>
														<li>
								<a href="/services/development/">Development</a>
							</li>
														<li>
								<!--<a href="/services/product-design/">Product Design</a>-->
							</li>
													</ul>
					</div>
					<a href=# class="title-descr-wrap wow fadeInUp">
						<div class="section-title t3"><span class="inner-section-title">Quinlex. Design for a Project Management Application</span></div>
						<div class="section-descr">Catch here how we designed the mobile experience for teams on the go. There is nothing better than a top-notch project management app that helps keep everyone productive</div>
					</a>

				</div>
			</div>
		</div>
	</div>
	<div class="section-bg f-c" >
		<a href=# id="end_js_1530">

			<img class="custom-wow animation-fill-forwards" style="float: right;" src="#" alt="#" data-s-case-orientation="mirror">

		</a>
	</div>
</div>


		<div data-midnight="static" class="container-fluid s-case  custom-color-text-black c1 mirror case-2851 scrollie-provider scrollie-consumer primary-block" style="background-color:
		#ffffff">
	<div class="container">
		<div class="row-first f-c">
			<div class="col">
				<div class="case-text-container">
					<div class="section-tags wow fadeInUp">
						<ul>
														<li>
								<a href="/services/development/">Development</a>
							</li>
														<li>
								<!--<a href="/services/product-design/">Product Design</a>-->
							</li>
													</ul>
					</div>
					<a href=# class="title-descr-wrap wow fadeInUp">
						<div class="section-title t3"><span class="inner-section-title">A Conceptual Dating App Design for Swipex</span></div>
						<div class="section-descr">This challenge we’ve taken to tailor a solution for the very emotional experience - a dating app design that would help people connect.</div>
					</a>

				</div>
			</div>
		</div>
	</div>
	<div class="section-bg f-c" >
		<a href=# >

			<img class="custom-wow animation-fill-forwards" style="margin: 0 auto; float: none; max-width: 100%;" src="https://fireartstudio.s3-accelerate.amazonaws.com/uploads/2019/02/3.-Swipex-1.png" alt="#" data-s-case-orientation="mirror">

		</a>
	</div>
</div>


	<div data-midnight="static" class="container-fluid s-case  custom-color-text-black c1 mirror case-2851 scrollie-provider scrollie-consumer primary-block" style="background-color:
		#ffffff">
	<div class="container">
		<div class="row-first f-c">
			<div class="col">
				<div class="case-text-container">
					<div class="section-tags wow fadeInUp">
						<ul>
														<li>
								<a href="/services/development/">Development</a>
							</li>
														<li>
								<!--<a href="/services/product-design/">Product Design</a>-->
							</li>
													</ul>
					</div>
					<a href=# class="title-descr-wrap wow fadeInUp">
						<div class="section-title t3"><span class="inner-section-title">A Conceptual Dating App Design for Swipex</span></div>
						<div class="section-descr">This challenge we’ve taken to tailor a solution for the very emotional experience - a dating app design that would help people connect.</div>
					</a>

				</div>
			</div>
		</div>
	</div>
	<div class="section-bg f-c" >
		<a href=# >

			<img class="custom-wow animation-fill-forwards" style="margin: 0 auto; float: none; max-width: 100%;" src="https://fireartstudio.s3-accelerate.amazonaws.com/uploads/2019/02/3.-Swipex-1.png" alt="#" data-s-case-orientation="mirror">

		</a>
	</div>
</div>

{% endblock content %}